# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vs
Recip-EZ.Server/obj/Debug*
Recip-EZ.Server/bin/Debug*
Recip-EZ.Tests/obj*
Recip-EZ.Tests/bin*
Recip-EZ.Client/obj/Debug*
Recip-EZ.Client/bin/Debug*
Recip-EZ_Database/bin/*
Recip-EZ_Database/obj/*
Recip-EZ.Server/Data/Dataset_CSV/*
Recip-EZ.Server/Data/Dataset_CSV.zip
.dotnet/.dotnet/
.nuget/packages/

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




# Questionable Files
*.user
*.http
Recip-EZ.Server/obj*
*/.vite/*
*/.vscode/*
recip-ez.client/src/assets/react.svg
*.dbmdl
*.jfm
