 * {
    box-sizing: border-box;
}

body{
       margin: 0;
}

.site-title{
    font-size: 2rem;
}

.nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav{
    background-color: #173f73;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5rem;
    padding: 0 1rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active{
    color: #b9d7f7
}

.nav li:hover{
    background-color: #1f66b4;
}


.nav ul:last-child{
    margin-left: auto;
}

.card {
    background-color: #1f66b4;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
